#overview {
    align-items: center;
    background-color: rgb(200, 231, 226);
    display: flex;
    justify-content: center;
    height: 100vh;
     }
  
  .page-section {
    background-color: #1b499e;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
   }
   #collector {
    background-color: rgb(200, 231, 226);
    border-radius: 20px;
    box-sizing: border-box;
    justify-content: center;
    height: 100%;
    padding-left: 20%;
    
    
    /* padding: 20px; */
    /* display: flex;
    justify-content: center; */
   }
   

  #head {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  #initial {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #fff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #a43f49;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #fff;
  }
  
  /* .submit {
    background-color: rgb(207, 171, 7);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
   */
  /* .submit:active {
    background-color: #06b;
  } */
  input[type=text]{
    width: 280px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    /* border-bottom:2px solid #79cf80; */
    border-left:3px solid #79cf80;
    box-sizing: border-box;
  }
  input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    /* border-bottom:2px solid #79cf80; */
    border-left:3px solid #79cf80;
    box-sizing: border-box;
  }
  input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    /* border-bottom:2px solid #79cf80; */
    border-left:3px solid #79cf80;
    box-sizing: border-box;
  }
  input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    /* border-bottom:2px solid #79cf80; */
    border-left:3px solid #79cf80;
    box-sizing: border-box;
  }
  input[type=file]{
    width: 280px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    /* border-bottom:2px solid #79cf80; */
    border-left:3px solid #79cf80;
    box-sizing: border-box;
  }
  
  input[type=submit]{
    width: 280px;
    background-color: #267369;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover{
    background-color:rgb(255, 255, 255) ;
    border:3px solid #288f4a;
    color: #000;
  }
  
  select{
    width: 280px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    /* border-bottom:2px solid #79cf80; */
    border-left:3px solid #79cf80;
    box-sizing: border-box;
  }
  #linker a {
    text-decoration: none;
    color: #fff;
  }
  
  #linker a:hover {
    color: rgb(0, 0, 0);
  }

  header{
    background:rgb(6, 86, 151);
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#1e9144 3px solid;
    
  }
  
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  #name{
    font-weight: bolder;
    font-family: Verdana;
    text-align: center;
  }
  
  .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 4px;
    min-height: 280px;
    max-width: 480px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*custom */
body {
     background: url('https://static-communitytable.parade.com/wp-content/uploads/2014/03/rethink-target-heart-rate-number-ftr.jpg') fixed;
    background-size: cover;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

