{% extends 'base.html' %} {% load static %}
{% block title %} Collector form {% endblock title %}
{% block body %}
<body >
    <header>
        <div id="name">
            <p><span>COLLECTOR</span></p>
        </div>
        <div>
            <ul>
                <li><a href="{% url 'report.html' %}">HOME</a></li>
                <li><a href="{% url 'collector.html' %}">FORM</a></li>
            </ul>
        </div>
    </header>
    <section id="collector">
        <form action={% url 'report.html' %} method="POST" id="sizer">
            <div>
                <h3>Product Details</h3>
                <div id="content">
                <input type="text" name="product_name" placeholder="Product Name">
                <input type="text" name="quantity" placeholder="Quantity Bought">
                </div>
                <div id="content">
                <input type="text" name="Price" placeholder="Price per Product">
                <input type="text" name="shop" placeholder="Shop Bought">
                </div>
            </div>
            <div>
                <h3>Seller's Details</h3>
                <div id="content">
                <input type="text" name="seller_name" placeholder="Shop Name">
                <input type="text" name="shop_location" placeholder="Shop Location">
                </div>
                <div id="content">
                    <select name="business_type" id=" " required>
                        <option value=" ">Nature of the Business</option>
                        <option value="Wholesale">Wholesale</option>
                        <option value="Retail">Retail</option>
                        <option value="Supermarket">Supermarket</option>
                        <option value="Hypermarket">Hypermarket</option>
                      </select>
                </div>
            </div>
            <div>
                <h3>Other Details</h3>
                <div>
                    <label for="img">Take a picture of the product</label>
                    <input type="file" id=" " name="product_img">
                </div>
                <div>
                    <label for="receipt">Upload Your Receipt</label>
                    <input type="file" id=" " name="product_receipt">
                </div>
            </div>
            <input type="submit" value="SUBMIT">
        </form>
    </section>

</body>
{% endblock body %}
</html>