{% extends 'base.html' %} {% load static %}

{% block title %} Collector form {% endblock title %}
{% block body %}

     <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <header>
        <div id="name">
            <p><span>COLLECTOR</span></p>
        </div>
        <div>
            <ul>
                <li><a href="{% url 'report' user.pk %}">HOME</a></li>
                <li><a href="{% url 'collector' %}">FORM</a></li>
            </ul>
        </div>
    </header>
    <section id="collector">
        <form action='' method="POST" id="sizer">

                {% csrf_token %}
            <div>
                <h3>Product Details</h3>
                <div id="content">
                <input type="text" name="product_name" placeholder="Product Name">
                <input type="text" name="quantity" placeholder="Quantity Bought">
                </div>
                <div id="content">
                <input type="text" name="price" placeholder="Price per Product">
                <input type="text" name="place" placeholder="place bought">
                    <input type="text" name="brand_name" placeholder="brand name">
                </div>

            </div>


            </div>
            <div>
                <h3>Other Details</h3>
                <div>
                    <label for="img">upload product of image</label>
                    <input type="file" id=" " name="product_img">
                </div>
                <div>
                    <label for="receipt">Upload Your Receipt</label>
                    <input type="file" id=" " name="product_receipt">
                </div>
            </div>
            <input type="submit" value="SUBMIT">
        </form>
    </section>


{% endblock body %}
