{% extends 'base.html' %} {% load static %}
{% block title %} registration {% endblock title %}
{% block body %}
  <body>
    <header>
    <h1 align = "center">Registration Form</h1>
    </header>
    <!---Form to collect user information-->
    <div class = "container-sm">

    <form method = 'P0ST' action={% url 'login.html' %} align = "center">
         {%csrf_token%}
        <fieldset>
           <legend align="center" class="class-for-caption"> <caption>Fill Out This Form To Be Eligible To Callect Data Using Our App</caption>
           </legend><br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Fist Name</label>
                <input type="text" class="form-control" name ="fisrtName" id="inputfirstName">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Last Name</label>
                <input type="text" class="form-control" name = "lastName" id="inputlastName">
              </div> 
              <div class="form-group col-md-6">
                <label for="inputEmail4">Phone No.</label>
                <input type="phone" class="form-control" name = "phone" id="inputphone">
              </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" name = "email" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Age</label>
            <input type="text" class="form-control" name = "age" id="age">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Location</label>
            <input type="location" class="form-control" name = "location" id="location">
          </div>
          <div class="form-group col-md-6">
            <label for="gender" class="label-for-gender">Gender</label>
            <input type="radio" class="form-control-gender" name = "gender" id="male">Male
            <input type="radio" class="form-control-gender" name = "gender" id="femail">Female
          </div>
          <div class="form-group col-md-6">
            <label for="username">User Name</label>
            <input type="text" class="form-control" name = "userName" id="userName">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" name = "password" id="inputPassword">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPass">
          </div>
         <button type="submit" class="btn-btn-primary">Register</button>
        </div>
        </fieldset>
        <!---Link to Login In Page-->
        <p title="Click here to Log in">Already have an account? <a href="#login">click here</a></p>
        </form>
      </div>















    <!---<div class="container-sm">
    <form>
        <caption>Fill out this form to be eligible to callect data using our app</caption>
        
        <p>Personal Details</p>
        <input type="text" name="firstName" id = "firstName" placeholder="First Name"/></br>
        <input type="text" name="lastName" id = "lastName" placeholder="Last Name"/>






    </form>
</div>
--------------->

</body>
{% endblock body %}
</html>
